.image-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
    grid-gap: 40px; 
    padding: 20px;
  
    .image-card:first-child {
      grid-row: span 2;
      grid-column: span 2;
    }
  }
  
  