.image-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
    grid-gap: 40px; 
    padding: 20px;
  
    .image-card:first-child {
      grid-row: span 2;
      grid-column: span 2;
    }
  }
  
.add-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 3px dashed rgb(218, 213, 213);
    border-radius: 10px;
    cursor: pointer;
}
  
.add-image img {
    width: 45px;
    height: 45px;
    margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
	.image-container {
	  display: grid;
	  grid-template-columns: repeat(2, 1fr);
	  gap: 15px; /* Adjust the gap between cards as needed */
	}

	.add-image {
		width: 100%;
		height: 250px;
	}
}

@media (max-width: 450px) {
	.image-gallery {
		display: block;
		margin-left: 5px;
		margin-right: 5px;
	}

	.image-card:first-child {
		grid-row: none;
		grid-column: none;
	  }

	.add-image {
		width: 100%;
		height: 220px;
	}

	.add-image img{
		width: 15px;
		height: 15px;
		margin-bottom: 5px;
	}
  }